<!DOCTYPE html>
<link href="../static/assets/css/adstyle.css" rel="stylesheet" type="text/css" />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/admin/css/signin.css" rel="stylesheet">
</head>

<body>
<div class="admin-ht">
    <div class="adminBord">
        <h4>{{ nowtime }}</h4>
            <h2 class="form-signin-heading">管理平台</h2>
            <form action="login" method="post">{% csrf_token %}
                <label for="input" class="sr-only">Username</label>
                <input type="text" name="username" id="inputUsername" class="form-control" placeholder="username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <form>
                    {% if err_msg %}
                        <div>{{ err_msg }}</div>
                    {% endif %}
                </form>
            </form>
    </div>
</div>
<script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>