<meta charset="utf-8" />
<!-- 通用样式 -->
<link rel="stylesheet" type="text/css" href="../static/assets/css/public.css">
<!-- 动态菜单CSS -->
<link rel="stylesheet" type="text/css" href="../static/assets/css/menu.css">
<!-- jquery引入 -->
<script src="../static/assets/js/jquery.min.js"></script>
<!-- 动态菜单JS -->
<script type="text/javascript" src="../static/assets/js/menu.js"></script>
<div class="middle">
    <div class="leftMenu">
        <div class="topMenu">
            <img class="banshi" src="../static/assets/img/banshidating.png"/>
            <p class="menuTitle">管理平台</p>
        </div>
        <div class="menu_list">
            <ul>
                <li class="">
                    <p class="fuMenu"><a href="index">首页</a></p>
                </li>
                </li>
                <li class="">
                    <p class="fuMenu">节点管理</p>
                    <img class="xiala" src="../static/assets/img/xiala.png" />
                    <div class="div1">
                        <p class="zcd" id="zcd10"><a href="nodeadd">节点列表</a></p>
                    </div>
                </li>
                <li class="">
                    <p class="fuMenu">应用防护</p>
                    <img class="xiala" src="../static/assets/img/xiala.png"/>
                    <div class="div1">
                        <p class="zcd" id="zcd19"><a href="">URL访问频率设置</a></p>
                    </div>
                </li>
                <li class="">
                    <p class="fuMenu">站点配置</p>
                    <img class="xiala" src="../static/assets/img/xiala.png"/>
                    <div class="div1">
                        <p class="zcd" id="zcd19"><a href="confdisplay">WAF配置</a></p>
                    </div>
                </li>
                <li class="">
                    <p class="fuMenu"><a href="logout">退出</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--This is meau.html end-->